<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springmvc.dao.goodsdetailMapper" >
  <resultMap id="BaseResultMap" type="com.springmvc.entity.goodsdetail" >
    <id column="goodsid" property="goodsid" jdbcType="INTEGER" />
    <result column="goodsname" property="goodsname" jdbcType="VARCHAR" />
    <result column="goodsdiscription" property="goodsdiscription" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    goodsid, goodsname, goodsdiscription
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from goodsdetail
    where goodsid = #{goodsid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from goodsdetail
    where goodsid = #{goodsid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.springmvc.entity.goodsdetail" >
    insert into goodsdetail (goodsid, goodsname, goodsdiscription
      )
    values (#{goodsid,jdbcType=INTEGER}, #{goodsname,jdbcType=VARCHAR}, #{goodsdiscription,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.springmvc.entity.goodsdetail" >
    insert into goodsdetail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="goodsid != null" >
        goodsid,
      </if>
      <if test="goodsname != null" >
        goodsname,
      </if>
      <if test="goodsdiscription != null" >
        goodsdiscription,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goodsid != null" >
        #{goodsid,jdbcType=INTEGER},
      </if>
      <if test="goodsname != null" >
        #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="goodsdiscription != null" >
        #{goodsdiscription,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.springmvc.entity.goodsdetail" >
    update goodsdetail
    <set >
      <if test="goodsname != null" >
        goodsname = #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="goodsdiscription != null" >
        goodsdiscription = #{goodsdiscription,jdbcType=VARCHAR},
      </if>
    </set>
    where goodsid = #{goodsid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.springmvc.entity.goodsdetail" >
    update goodsdetail
    set goodsname = #{goodsname,jdbcType=VARCHAR},
      goodsdiscription = #{goodsdiscription,jdbcType=VARCHAR}
    where goodsid = #{goodsid,jdbcType=INTEGER}
  </update>
  <select id="findAllgoods" resultMap="BaseResultMap">
    SELECT  <include refid="Base_Column_List"></include>
    FROM goodsdetail
  </select>
</mapper>